* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

.root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.homepage {
    padding: 0;
    margin: 0;
    width: 100vw;
}

.navbar {
    width: 100%;
    height: 60px;
    margin: 0;
}

.topNav {
    background-color: aqua;
    width: 1000%;
    height: 30px;
    margin: 0;
    border-bottom: 2px solid red;
}

.bottomNav {
    height: 30px;
    width: 100%;
    margin: 0;
    background-color: darkblue;
}
.landingPage{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: URL(./IMG/HomePage.png);  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 100vw; */
    height: 89vh;
    
    
}
.welcomeNote{
  background: linear-gradient(to bottom,
      rgba(94, 109, 187, 0.8),  rgba(128, 139, 196, 0));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 45px;
  letter-spacing: 4px;
  width: 65%;
  height: 120px;
  border-radius: 30px;
  color: white;
}

h1{
    color: rgba(241, 233, 233, 0.772);
    font-size: 30px;
    text-shadow: 4px 4px 4px rgba(194, 86, 86, 0.5);
}
